@font-face {font-family: 'title';src: url('fonts/historia.ttf');}

body{
    background-color: rgba(238, 235, 232, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    padding-bottom: 0.5%;
    background-color: rgb(46, 33, 25);
    -webkit-box-shadow: 0 8px 6px -6px #333;
	-moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
}

.navbar-smaller{
    font-size: 14px;
}

.navbar-brand{
    margin-right: 15%;
    margin-left: 30%;
    font-family: 'title';
    
    font-size: 32px;
}

.nav-item{
    font-size: 21px;
}

.nav-link{
    color: rgb(189, 189, 189);
}
.nav-link:hover{
    color: white;
}

.bg-img{
    width: 100%;
    height: 100%;
    position:relative;
    top: 0;
    left: 0;
}

#wrapper{
    position: relative;
}

#editedForm{
    margin-bottom: 2.0%;
}

.footer {
    height:6rem;
    width: 100%;
    color: white;
    padding: 20px;
    background-color: rgb(46, 33, 25);
  }

#content-div{
    z-index: 2;
    flex: 1;
    padding: 20px;
    overflow: auto;
    color: black;
    text-align: justify;
    /*font-size: 18pt;*/
    padding: 3%;  
    background-color: rgba(238, 235, 232, 0.9);
}

.btn{
    font-family: 'modern';
    padding: 0.7%;
    width: 100%;
    color: white;
    border: 1.5px solid rgb(46, 33, 25);
    background-color: rgb(46, 33, 25);
}
.btn:hover, .btn-primary:hover{
    box-shadow: 2px 8px 6px -6px #333;
    color: white;
}
.home-img, .image-thumbnail{
    width: 200px;
    height: 200px;
}
.map{border:0; width: 100%; height: 70%; margin: 0; padding: 0;}